@import '../../../styles/variables';
@import '../../../styles/mixins';

.Restaurants {
  > .restaurantsContainer {
    display: flex;
    flex-direction: column;
  }

  > .filterSortSection {
    position: fixed;
    top: 20px;
    right: 130px;
    display: flex;
    flex-direction: row;
    width: ($restaurantSelectWidth + $marginMd) * 2;

    > .textField {
      margin-left: $marginMd;
      margin-right: $marginMd;
      flex: 1;
      width: $restaurantSelectWidth;
    }
  }
}

@include reactLoading;

