//colors
$appBgColor: #FCFCFC;
$linkColor: #2222ff;
$linkHoverColor: #7777ff;
$lightGray: lightgray;
$gray: gray;
$darkGray: #555555;
$logoWidth: 100px;

//sizes
$mainHeaderHeight: 100px;
$restaurantSelectWidth: 140px;

$paddingSm: 4px;
$paddingMd: 8px;
$paddingLg: 12px;
$marginSm: 4px;
$marginMd: 8px;
$marginLg: 12px;

$fontSm: 12px;
$fontMd: 14px;
$fontLg: 16px;
$fontXlg: 20px;


