@import '../../../../styles/variables';

.restaurantRaw {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: $marginSm;
  padding: $paddingMd;
  background-color: white;
  color: $darkGray;
  text-decoration: none;

  > .logo {
    margin: $marginSm;

    > img {
      width: $logoWidth;
    }
  }

  .restaurantInfoWrapper {
    margin: $marginSm;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .nameRowWrapper {
      flex: 1;
      align-items: center;
      font-size: $fontLg;
      font-weight: bold;
    }

    > .locationWrapper {
      flex: 1;
      align-items: center;
      font-size: $fontMd;
      font-weight: normal;
      line-height: $fontMd * 1.5;
    }

    > .categoryWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: $fontMd;
      font-weight: normal;

      > .category {
        border: 1px solid $lightGray;
        padding: $paddingSm;
        margin: $marginSm;
      }
    }
  }
}

.restaurantSectionRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: $marginSm;
  padding: $paddingMd;
  background-color: white;
  border: 1px solid $gray;
  color: $darkGray;

  > .sectionNameBlock {
    font-size: $fontMd;
  }

  > .sectionItemsBlock {
    display: flex;
    flex-direction: column;
    padding: $paddingSm;

    > .sectionItemBlock {
      display: flex;
      flex-direction: row;
      padding: $paddingSm;
      margin-left: $marginLg;

      > .productName {
        flex: 4;
        padding: $paddingSm;
      }

      > .productPrice {
        flex: 1;
        padding: $paddingSm;
      }

      > .productBtn {
        flex: 5;
        color: blue;
        cursor: pointer;
        padding: $paddingSm;
      }
    }
  }
}
